
    <div class="auth-body">
        <div class="auth-wraper">
            <div class="auth-featured">
                <img src="https://techwisegroup.com/wp-content/uploads/2021/05/Depositphotos_322255082_l-2015-500x380.jpg" alt="">
            </div>
            <div class="auth-form">
                <h2>Forget Password</h2>
                <div class="form-wraper">
                    <form action="">
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text">
                        </div>
                        
                        <div class="form-group">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
                <div class="utility">
                    <a href="/login">Log In Now</a>
                    <a href="/register">Create an account</a>
                </div>
               
            </div>
        </div>
    </div>

